
.letraRechazado{
	color:#ef473a;
}

.background, .background .pane, .background .item-complex .item-content {
    background-color: #F0F0F0;
}

.logo{
	margin-top: 10%;
}

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}
